/* https://bitsofco.de/holy-grail-layout-css-grid */
:root {
  --lighter:  #ccc;
  --lightest: #fff;
  --darker:   #999;
  --darkest:  #444;
  --background: pink;
}

header, footer
  { background: var(--darker) }

aside { background: var(--background) }
