form {
  background: pink
}

fieldset {
  background: #fff
}
fieldset legend {
  top: -3em;
  width: 100%;
  display: block;
  font-size: 1.8em;
  line-height: 2em;
  margin-bottom: .612em;
  background: rgba(0,0,0,0.5);
}

input, textarea, button {
  border-radius: 0.4em;
}

/* Regular input */
input:not([type='reset']),
input:not([type='submit']),
input:not([type='button']) {
  border: none;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.612em;
  border-radius: 0.4em;
  margin: 0 0.4em .612em;
  border: .1em solid rgba(20,20,20,0.5);
}

/* Button input */
input[type='reset'],
input[type='submit'],
input[type='button'],
button,
button[type='reset'],
button[type='submit'] {
  padding: 0 2em;
  cursor: pointer;
  min-width: 15em;
  font-weight: 900;
  font-size: 1.36em;
  text-align: center;
  margin: 0.36em auto;
  line-height: 2.82em;
  border-radius: 0.4em;
  color: rgba(20,20,20,0.7);
  background: linear-gradient(
    to bottom,
    rgba(250,250,250,0.8),
    rgba(230,230,230,0.8)
  );
  border: .1em solid rgba(20,20,20,0.5);
  box-shadow: 0.05em 0.05em 0.2em rgba(50,50,50,0.3);
}
input[type='reset']:hover:not(:disabled),
input[type='submit']:hover:not(:disabled),
input[type='button']:hover:not(:disabled) {
  color: rgba(20,20,20,0.9);
  border: .1em solid rgba(20,20,20,0.8);
}

textarea {
  background: pink;
}

input:disabled,
button:disabled,
textarea:disabled
{
  opacity: 0.4;
  cursor: not-allowed
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
color: pink;
}
:-moz-placeholder { /* Firefox 18- */
color: pink;
}
