form {
  background: pink
}

fieldset {
  background: #fff
}
fieldset legend {
  width: 100%;
  display: block;
  font-size: 1.8em;
  line-height: 2em;
  margin-bottom: .612em;
  background: rgba(0,0,0,0.5);
}

input, textarea, button {
  border-radius: 0.4em;
}

/* Regular input */
input:not([type='reset']),
input:not([type='submit']),
input:not([type='button']) {
  border: none;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.612em;
  border-radius: 0.4em;
  margin: 0 0.4em .612em;
  text-shadow: 0.03em 0.03em 0 #f00;
}

/* Button input */
input[type='reset'],
input[type='submit'],
input[type='button'] {
  padding: 0 2em;
  cursor: pointer;
  min-width: 15em;
  font-weight: 900;
  font-size: 1.36em;
  text-align: center;
  line-height: 2.82em;
  border-radius: 0.4em;
  margin: 0 auto 1.612em;
  text-shadow: 1px 1px 0 #f00;
}

textarea {
  background: pink;
}
