form {
  background: pink
}

fieldset {
  background: #222
}
fieldset legend {
  width: 100%;
  display: block;
  font-size: 1.8em;
  line-height: 2em;
  margin-bottom: .612em;
  background: rgba(0,0,0,0.5);
}
